.recommended-game-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.recommended-game-section__header {
  align-self: flex-start;
  margin: 0;
  padding-left: 8rem;
}

@media screen and (max-width: 768px) {
  .recommended-game-section__header {
    align-self: center;
    padding-left: 0;
  }
}

.recommended-game-section__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
