@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
body {
  background-color: lightgray;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.3;
}

html {
  font-size: 62.5%;
}

h2,
h3 {
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
  margin: 1.5rem 0;
}

/* Links */
a {
  text-decoration: none;
}

.a--gray-transition {
  color: black;
  transition: color 0.4;
}

.a--gray-transition:hover {
  color: gray;
}

.link-arrow {
  font-weight: bold;
  font-size: 1.4rem;
  position: relative;
}

.link-arrow > a {
  color: green;
  transition: color 0.4s;
}

.link-arrow:hover > a {
  color: black;
}

.link-arrow:hover > svg {
  fill: black;
  margin-left: 6px;
}

.link-arrow__icon {
  fill: green;
  height: 13px;
  left: 80px;
  margin-left: 1px;
  position: absolute;
  top: 3px;
  transition-property: margin-left, fill;
  transition: 0.4s;
  width: 20px;
}

/* Lists */
.list {
  list-style: none;
}

/* Navigation Bar */
.nav {
  align-items: center;
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

/* Grids */
.grid {
  display: grid;
}

.grid--1x2 {
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.grid--1x3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid--2x1 {
  grid-template-rows: 1fr 1fr;
}

/* Flex */
.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

/* Recommended Game */
.recommended-game__image {
  border-radius: 10px;
  height: 200px;
  margin: 1rem 0.5rem;
  width: 200px;
}

.recommended-game__content {
  margin: 1rem 2rem;
}

.recommended-game__content > p {
  width: 40ch;
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Scroll List */
.scroll-list {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  margin: 1rem auto;
  padding: 1rem;
}

.scroll-list__list {
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

/* Snaps */
.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* Social Media Banner */
.social-media-banner > h2 {
  margin: 0 0 1rem;
}
.social-media-banner__icon > a > img {
  height: 30px;
  width: 30px;
}

.social-media-banner__icon > a:nth-child(2) {
  color: black;
  display: block;
  font-size: 1.4rem;
  width: 20ch;
}

/* Footer */
.footer {
  background-color: lightgreen;
}

.footer-main-grid {
  align-items: center;
}

.footer__section__heading {
  font-size: 1.6rem;
}

.footer__section__content {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0;
}

/* List */
.list {
  list-style: none;
}

/* Icons */
.icon {
  height: 100px;
  width: 100px;
}

/*About us*/
.about-us {
  align-items: center;
  margin: 1rem 0;
}
.about-us__image {
  border-radius: 20px;
  height: 800px;
  width: 800px;
}
.about-us__content > p {
  width: 50ch;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
