.nav {
  align-items: center;
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}
