.social-media-banner {
  display: flex;
  flex-direction: column;
}

.social-media-banner > h2 {
  margin: 0 0 1rem;
}

.social-media-banner__icon > a:nth-child(2) {
  color: black;
  display: block;
  font-size: 1.4rem;
  width: 20ch;
}
