.footer {
  align-items: center;
  background-color: lightgreen;
  display: flex;
  font-weight: bold;
  margin-top: auto;
  justify-content: center;
}

.footer__section__heading {
  font-size: 1.6rem;
}

.footer__section__content {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  gap: 20rem;
}

.icon {
  width: 50%;
}

@media screen and (max-width: 765px) {
  .content {
    gap: 10rem;
  }
}

@media screen and (max-width: 600px) {
  .content {
    gap: 7rem;
    width: 65%;
  }

  .icon {
    width: 35%;
  }
}

@media screen and (max-width: 400px) {
  .content {
    gap: 5rem;
  }
}
